In [13]:
import random
import pandas as pd
import numpy as np

In [4]:
random.seed()
random

In [17]:
df = pd.DataFrame(np.random.randint(0,1,size=(100, 4)), columns=list('ABCD'))

In [18]:
df

    A  B  C  D
0   0  0  0  0
1   0  0  0  0
2   0  0  0  0
3   0  0  0  0
4   0  0  0  0
.. .. .. .. ..
95  0  0  0  0
96  0  0  0  0
97  0  0  0  0
98  0  0  0  0
99  0  0  0  0

[100 rows x 4 columns]